:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

iframe {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
